/* Footer styles */
  footer {
    padding:5px;
    text-align: center;
    background: rgb(2, 18, 39);
    margin-top: auto;
    font-size: 0.8em;
    color: #ffffff;
  }

  b {
    max-width: 77ch;
    margin: 20px auto;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding:10px;
  }
  /* Footer styles */
  .footer {
    text-align: center;
    padding: 9px;
    font-size: 8px;
    background-color: #2c3e50;
    color: #ffffff;
  }

  
